@page "/"

<PageTitle>Index</PageTitle>

<h1>Investments Manager Appilcation</h1>
<h3>Here you can create and account add investments to that account.</h3>
<h3>Once you have the investments created in you account you can edit, delete</h3>
<h3>or view the invesetment values at any time. You can also contact customer service</h3>
<h3>regarding any problems you have with your investments and the can see the inquires at any time.</h3>



